# Core app settings
APP_NAME=EcoIntelligence
APP_ENV=development
DEBUG=true
SECRET_KEY=DKmut6KOE2CaTy3WGyTEf6S93nkdapUKC6/IXyqKeA0=

# Backend API settings
API_HOST=0.0.0.0
API_PORT=8000
API_V1_PREFIX=/api/v1

# Database settings
POSTGRES_DB=ecointelligence
POSTGRES_USER=ecointelligence
POSTGRES_PASSWORD=change-me
DATABASE_URL=postgresql+psycopg://ecointelligence:change-me@localhost:5433/ecointelligence

# AI service settings
AI_SERVICE_HOST=0.0.0.0
AI_SERVICE_PORT=8001
AI_SERVICE_URL=http://localhost:8001

# Frontend settings
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
